body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.png');
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
}

header.header{
    text-align: center;
    background-color: #000000;
    border-bottom: 1px solid #aaa;
    padding: 10px;
     box-shadow: 0 0 10px 5px #CCCCCC;
    -webkit-box-shadow: 0 0 10px 5px #CCCCCC;
    overflow: hidden;
    height: 117px;
    position: relative;
    z-index: 1;
}
header.header nav{
    position: absolute;
    top: 112px;
    left: 30px;
    color: #777;
}

header.header nav a{
    color: #777;
    margin-right: 5px;
}

#logo{
    overflow: hidden;
    text-align: left;
    color: #ffffff;
    width: 40%;
    float: left;
    padding: 20px;
}
#logo h1{
    margin: 0;
}
#logo h1 a{
    text-decoration: none;
    color: #ffffff;;
}
@media screen and (max-width: 620px){
    #logo{display: none;}
}

#totals{
    overflow: hidden;
    float: left;
}
#totals .chart{
    margin-right: 10px;
}
.totals-chart svg{
    height: 300px;
    width: 400px;
}
.totals-chart {
    float: left;
}

#trend-chart{
    width: auto;
    margin-left: 825px;
    height: 330px;
}

@media screen and (max-width: 1279px){
    #trend-chart{
        margin-left: 0;
        clear: both;
        margin-top: 20px;
    }
}

#trend-chart svg{
    width: 100%;
}

#polarity-chart svg{
    height: 400px;
}


.chart header{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.chart {
    border: 1px solid #eee;
    background-color: white;
}

.row{
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 10px;
}

#tracking-form{
    margin-top: 20px;
    text-align: left;
    float: left;
    color: #ffffff
}

input{
    border: 1px solid #aaa;
    padding: 2px;
    width: 250px;
}

input.loading{
    background: #ffffff url("/static/img/loader.gif") no-repeat scroll right center !important;
}
a {color: #4183C4;}

button {
    width: 125px;
}


.infobox{
    padding: 20px;
    border: 1px solid #eee;
    margin-top: 20px;
    background-color: white;
}
.txt-left{
    text-align: left;
    color: #ffffff
}

#error-msg {
    text-align: center;
}

#error-msg section{
    color: #d62728;
    width: 450px;
    background-color: #eee;
    margin: -1px auto auto;
    border: 1px solid #aaa;
    border-top: none;
    padding: 10px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    position: relative;
    
}
