<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/smm.css" rel="stylesheet" type="text/css">
        <title>Streamcrab - Realtime, Twitter sentiment analysis engine</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
    </head>
    <body>
        <header class="header">
            <div id="logo">
                <h1><a href="/">Streamcrab</a></h1>
                <span>Realtime, Twitter sentiment analysis engine</span>
            </div>
            <form id="tracking-form" method="get" action="/results">
                <div>
                    <div class="txt-left" ><strong>Searching for:</strong></div>
                    <input type="text" name="keyword" id="keyword" placeholder="movies, companies, products" >
                </div>
                <div class="row">
                    <button id="restart-tracking">Start search</button>
                </div>
            </form>
        </header>
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/smm.js"></script>
        <script>
            SMM.htmlHelpers();
        </script>
    </body>
</html>
